<section class="bg-fourd-default">
  <section class="flex flex-col justify-center items-center gap-10 ">
    <!--PRIMERA CAJA-->
    <a  class="w-[200px] h-[160px]  flex justify-center items-center flex-col group">
      <!--SUB CAJA PARA LA IMAGEN,solo se muestra cuando exista un hover-->
      <figure class="w-full h-[140px] hidden group-hover:flex opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <img src="../../../assets/imagenes/PersonalSalud.png" alt="" class="w-full h-full object-cover">
      </figure>
      <!--SUB CAJA QUE SE MUESTRA SIEMPRE-->
      <div class="w-full h-full flex items-center bg-third-default group-hover:bg-second-default">
        <div class="bg-primary-default w-2 h-full group-hover:bg-second-default"></div>
        <p class="h2-regular text-primary-default font-bold text-center basis-full group-hover:text-fourd-default">Personal <br>Salud</p>
      </div>
    </a>
    <!--SEGUNDA CAJA-->
    <a href="" class="w-[200px] h-[160px] max-h-[240px] flex justify-center items-center flex-col group">
      <!--SUB CAJA PARA LA IMAGEN,solo se muestra cuando exista un hover-->
      <figure class="w-full h-[140px] hidden group-hover:flex opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <img src="../../../assets/imagenes/PersonalSalud.png" alt="" class="w-full h-full object-cover">
      </figure>
      <!--SUB CAJA QUE SE MUESTRA SIEMPRE-->
      <div class="w-full h-full flex items-center bg-third-default group-hover:bg-second-default">
        <p class="h2-regular text-primary-default font-bold text-center basis-full group-hover:text-fourd-default">Gestante</p>
        <div class="bg-primary-default w-2 h-full group-hover:bg-second-default"></div>
      </div>
    </a>
  </section>
</section>
