<header class="alt-64 w-full bg-third-_600 p-lateral">
  <div class="flex w-full h-full justify-center md:justify-between">
    <!--ICONO-->
    <figure class="">
      <img [src]="srcImagen" alt="Logo del Hospital de Ciudad Eten" class="w-full h-full">
    </figure>



    <!--BARRA DE NAVEGACION-->
    <nav></nav>
    <!--SECCION DE MUNICIPALIDAD-->
    <figure class="h-full w-28 hidden md:block">
      <img [src]="srcCiudadEten" alt="Logo Municipalidad Ciduad Eten" class="w-full h-full object-contain p-2">
    </figure>
  </div>
</header>
